body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.nav {
    transition: background 0.5s;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background: #212121;
    color: white;
    border-radius: 5px;
}

.nav:hover:not(.selected) {
    background: #484848;
}

.nav.selected {
    background: #2882bc;
}

.container.closed {
    display: none;
}

.word {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: whitesmoke;
    font: normal 13pt/15pt sans-serif;
    align-items: center;
}

.word > span {
    flex: 1;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.remove {
    background: red;
}

.restore {
    background: #2882bc;
}

.difficult {
    background: green;
    margin-left: 10px;
}



